body {
    background-color: whitesmoke;
    color: #333;
}

h1 {
    font-size: 36px;
    color: #2D3C6A;
    text-align: center;
    margin-top: 40px;
}

table {
    margin: 20px auto;
    border-radius: 10px;
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    font-size: 16px;
}

th {
    background-color: #d5be83;
    color: white;
}

td {
    color: #555;
}

    td img {
        max-width: 200px;
        height: auto;
        border-radius: 8px;
    }


h2, h3 {
    font-size: 15px;
    color: #444;
    margin: 10px 0;
